* {
   color: #f5845b;
}

html {
   font-family: 'Prompt', Tahoma, sans-serif;
   background-color: #161b22;
}

body {
   margin: 0;
   padding: 0;
   text-align: center;
}

nav {
   position: fixed;
   top: 250px;
   float: left;
   width: 200px;
   margin-left: 20px;
}

nav h3 {
   border-bottom: 2px dotted;   
   font-size: 20px;
   margin: 0;
   padding: 20px 5px;
}

h1 {
   font-size: 50px;
   border-bottom: 2px solid;
   padding-bottom: 20px;
   margin: 60px 0px;
   color: #f5845b;
}

figure {
   margin: 0;
}

figcaption {
   color: #45556b;
}

footer {
   border-top: 2px solid;
   margin-top: 30px;
   margin-bottom: 50px;
}

/* Used to add the accent colour to elements */
.accent {
   border-color: #45556b !important; 
}

.navigation ul {
   list-style-type: none;
   display: block;
   text-align: center;
   border: 2px dotted;
   border-radius: 5px;
   padding: 0px 0px;
}

.navigation ul li {
   padding: 3px 0px;
}

.navigation ul li a {
   text-decoration: none;
   color: #f5845b;
   font-size: 20px;
}

.navigation ul li a:hover {
   color: #f39f81;
}

.nav-boxes {
   margin: 10px 0px;
}

.main-body {
   max-width: 1000px;
   margin: auto;
}

.blog-pic {
   width: 75%;
}

.blog-post {
   border-top: 2px solid;
   border-bottom: 2px solid;
}

.blog-p-title {
   margin: 30px;
   padding: 0;
}

.blog-text {
   text-align: justify;
   margin-bottom: 30px ;
}

#welcome-intro {
   margin-bottom: 50px;
}